extends layout

block content
  h1= title
  p Welcome to #{title}
  div.message-container
    each message in messages
      .message-tile
        .message-text #{message.text}
        .message-user #{message.user} 
        .message-added #{message.added}
